

<div class="monthHeader">
  <button mat-icon-button (click)="prevMonth()" [disabled]="!hasPrevMonth">
    <mat-icon class="arrow-icon">arrow_back</mat-icon>
  </button>
  <h2>{{ currentMonth | date: 'MMMM y'}}</h2>
  <button mat-icon-button (click)="nextMonth()" [disabled]="!hasNextMonth">
    <mat-icon class="arrow-icon">arrow_forward</mat-icon>
  </button>
</div>


<!-- TODO: Gauge Bar -->
<app-gauge-bar [monthly]="userMonthlyGoal" [sum]="sumOfSpendings" [isCurrentMonth]="isCurrentMonth"></app-gauge-bar>
<!-- TODO: Add Spending Button -->
<app-add-spending></app-add-spending>

<!-- TODO: Spending List -->
<app-spending-list [spendingList]="spendingList"></app-spending-list>

