<form [formGroup]="goalsForm">
  <mat-form-field>
    <mat-label>Monthly Goal:</mat-label>
    <input matInput type="number" placeholder="0" id="monthly" name="monthly"
      [(ngModel)]="goalsDetails.monthly" formControlName="monthlyFormControl">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
    <mat-error *ngIf="goalsForm.get('monthlyFormControl')?.hasError('required')">
      Monthly Goal is <strong>Required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Weekly Goal:</mat-label>
    <input matInput type="number" placeholder="0" id="weekly" name="weekly"
      [(ngModel)]="goalsDetails.weekly" formControlName="weeklyFormControl">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

</form>

<button mat-raised-button (click)="handleSubmit()" [disabled]="!goalsForm.valid">Submit</button>
<button mat-flat-button (click)="handlePrevClick()">Prev</button>
