form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  float: right;
}

#weekly, #monthly {
  text-align: right;  
}

// ref: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}